################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repo/FileContentIndex/a510d9aa-5dc2-4c5a-af2c-520160cf4a45.vsidx
/.vs/Repo/v17
/.vs/Repo/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Repo/FileContentIndex
